body {
	margin: 0;
	padding: 0;
	display: flex;
    background-color: #FFFFFF;
    font-family: Arial;
}

form{
    height: 60%;
	overflow-y:auto;
	overflow-x:hidden;
	width: 20%;
    background-color: #252C2D;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #252C2D;
    padding: 60px 40px;
}
form *{
    color: #F2F5F8;
	outline: none;
    border: none;
}
form h2{
    font-weight: bold;
    text-align: center;
}

label{
    display: block;
    margin-top: 10%;
}

input{
    display: block;
    height: 10%;
    width: 100%;
    background-color: #404D4F;
    margin-top: 10px;
	border-radius: 5px;
}

::placeholder{
    color: #F2F5F8;
}

.account{
    margin-top: 50px;
    width: 100%;
    background-color: #6D8FB0;
    color: #252C2D;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
}

.sign{
	color: #F2F5F8;
	text-align:center;
	display:block;
	text-decoration: none;
}
.sign:hover {
   text-decoration: underline;
}

/*TO DO:
colour scheme*/