html {
    overflow-x: hidden;
}
html,body{
	font-family:Verdana,sans-serif;
	font-size:15px;
	line-height:1.5
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body{
	margin:0
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
	display:block
}
summary{
	display:list-item
}
audio,canvas,progress,video{
	display:inline-block
}
progress{
	vertical-align:baseline
}
audio:not([controls]){
	display:none;
	height:0
}
[hidden],template{
	display:none
}
a{
	background-color:transparent
}
a:active,a:hover{
	outline-width:0
}
abbr[title]{
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted
}
b,strong{
	font-weight:bolder
}
dfn{
	font-style:italic
}
mark{
	background:#ff0;
	color:#000
}
small{
	font-size:80%
}
sub,sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sub{
	bottom:-0.25em
}
sup{
	top:-0.5em
}
figure{
	margin:1em 40px
}
img{
	border-style:none
}
code,kbd,pre,samp{
	font-family:monospace,monospace;
	font-size:1em
}
hr{
	box-sizing:content-box;
	height:0;
	overflow:visible
}
button,input,select,textarea,optgroup{
	font:inherit;
	margin:0
}
optgroup{
	font-weight:bold
}
button,input{
	overflow:visible
}
button,select{
	text-transform:none
}
button,[type=button],[type=reset],[type=submit]{
	-webkit-appearance:button
}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
	border-style:none;
	padding:0
}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
	outline:1px dotted ButtonText
}
fieldset{
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend{
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal
}
textarea{
	overflow:auto
}
[type=checkbox],[type=radio]{
	padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
	height:auto
}
[type=search]{
	-webkit-appearance:textfield;
	outline-offset:-2px
}
[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}
::-webkit-file-upload-button{
	-webkit-appearance:button;
	font:inherit
}
/* End extract */

html{
	box-sizing:border-box
}
*,*:before,*:after{
	box-sizing:inherit
}
.w3-top{
	top:0
}
.w3-top,.w3-bottom{
	position:fixed;
	width:100%;
	z-index:1
}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{
	color:#fff!important;
	background-color:#607d8b!important
}
.w3-left-align{
	text-align:left!important
}
.w3-large{
	font-size:18px!important
}
.w3-card,.w3-card-2{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.w3-bar{
	width:100%;
	overflow:hidden
}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{
	content:"";
	display:table;
	clear:both
}
.w3-bar .w3-button{
	white-space:normal
}
.w3-bar .w3-bar-item{
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0
}
.w3-red,.w3-hover-red:hover{
	color:#fff!important;
	background-color:#f44336!important
}
.w3-right{
	float:right!important
}
.w3-padding-large{
	padding:12px 24px!important
}
@media (min-width:993px){
.w3-hide-large{
  display:none!important
}
}
.w3-btn,.w3-button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.w3-btn,.w3-button{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
a{
	color:inherit
}
a{
	background-color:transparent
}
.w3-white,.w3-hover-white:hover{
	color:#000!important;
	background-color:#fff!important
}
.w3-blue,.w3-hover-blue:hover{
	color:#fff!important;
	background-color:#2196F3!important
}
.w3-center{
	text-align:center!important
}
.w3-container,.w3-panel{
	padding:0.01em 16px
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
	display:block
}
.w3-margin{
	margin:16px!important
}
.w3-jumbo{
	font-size:64px!important
}
h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0
}
h1{
	font-size:36px
}
h2{
	font-size:30px
}
h3{
	font-size:24px
}
h4{
	font-size:20px
}
h5{
	font-size:18px
}
h6{
	font-size:16px
}
form{
    height: 60%;
	overflow-y:auto;
	overflow-x:hidden;
	width: 40%;
    background-color: #252C2D;
    position: absolute;
    transform: translate(-50%,-30%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #252C2D;
    padding: 60px 40px;
}
form *{
    color: #F2F5F8;
	outline: none;
    border: none;
}
form h2{
    font-weight: bold;
    text-align: center;
}
form h3{
  font-weight: : bold;
  text-align: center;
}

label{
    display: block;
    margin-top: 10%;
}

input{
    display: block;
    height: 10%;
    width: 100%;
    background-color: #404D4F;
    margin-top: 10px;
	border-radius: 5px;
}

::placeholder{
    color: #F2F5F8;
}

.account{
    margin-top: 50px;
    width: 100%;
    background-color: #6D8FB0;
    color: #252C2D;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
}

.sign{
	color: #F2F5F8;
	text-align:center;
	display:block;
	text-decoration: none;
}
.sign:hover {
   text-decoration: underline;
}
.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.w3-opacity, .w3-hover-opacity:hover {
    opacity: 0.60;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
.w3-xlarge {
    font-size: 24px!important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}
.w3-padding-large {
    padding: 12px 24px!important;
}
.w3-margin-top {
    margin-top: 16px!important;
}
.w3-large {
    font-size: 18px!important;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  .w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 8px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.w3-content {
    max-width: 980px;
}
.w3-content, .w3-auto {
    margin-left: auto;
    margin-right: auto;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
    width: 100%;
}
@media (min-width: 601px){
.w3-col.m8, .w3-twothird {
    width: 66.66666%;
}
}
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
    width: 100%;
}
div {
    display: block;
}
